<section class="Section  {% unless section.settings.image %}Section--spacingNormal{% endunless %}">
<video class="Image--lazyLoad lazyautosizes" height="240" controls autoplay loop  muted playsinline type="video/webm" src="https://cdn.shopify.com/s/files/1/0553/4587/2977/files/ad_gallery_stylingguide3_long_800k.mp4?v=1649958874"></video> <!--6.22 mb -->
    <video class="Image--lazyLoad lazyautosizes" height="240" controls autoplay loop  muted playsinline type="video/webm" src="https://cdn.shopify.com/s/files/1/0553/4587/2977/files/8_10MB.mp4?v=1653998357"></video> <!--10 mb -->
    <video class="Image--lazyLoad lazyautosizes" height="240" controls  autoplay loop  muted playsinline type="video/webm" src="https://cdn.shopify.com/s/files/1/0553/4587/2977/files/Snaptik_6972286144952175878_katie-kelly.mp4?v=1650876973"></video> <!-- 9 mb -->
    <video class="Image--lazyLoad lazyautosizes" height="240" controls  autoplay loop  muted playsinline type="video/webm" src="https://cdn.shopify.com/s/files/1/0553/4587/2977/files/5_11MB.mp4?v=1653998357"></video> <!--11 mb -->
    <video class="Image--lazyLoad lazyautosizes" height="240" controls  autoplay loop  muted playsinline type="video/webm" src="https://cdn.shopify.com/s/files/1/0553/4587/2977/files/4_11MB.mp4?v=1653998357"></video> <!--11 mb -->
    <video class="Image--lazyLoad lazyautosizes" height="240" controls  autoplay loop  muted playsinline type="video/webm" src="https://cdn.shopify.com/s/files/1/0553/4587/2977/files/SocialProof3_long_450k.mp4?v=1649960620"></video> <!-- 1.25 mb -->
    <video class="Image--lazyLoad lazyautosizes" height="240" controls  autoplay loop  muted playsinline type="video/webm" src="https://cdn.shopify.com/s/files/1/0553/4587/2977/files/2_16MB.mp4?v=1653998357"></video> <!--16 mb -->
    <video class="Image--lazyLoad lazyautosizes" height="240" controls  autoplay loop  muted playsinline type="video/webm" src="https://cdn.shopify.com/s/files/1/0553/4587/2977/files/1_16MB.mp4?v=1653998357"></video> <!--16 mb -->
    <video class="Image--lazyLoad lazyautosizes" height="240" controls  autoplay loop  muted playsinline type="video/webm" src="https://cdn.shopify.com/s/files/1/0553/4587/2977/files/omsom_ad3_624_450k.mp4?v=1649960534"></video> <!-- 4.52 mb -->
    <video class="Image--lazyLoad lazyautosizes" height="240" controls  autoplay loop  muted playsinline type="video/webm" src="https://cdn.shopify.com/s/files/1/0553/4587/2977/files/gallery_palateclub2_m_long_800k.mp4?v=1649959652"></video> <!-- 4 mb -->
    <video class="Image--lazyLoad lazyautosizes" height="240" controls  autoplay loop  muted playsinline type="video/webm" src="https://cdn.shopify.com/s/files/1/0553/4587/2977/files/home_kenny_ad3_long_800k.mp4?v=1649960141"></video> <!-- 5 mb -->
    <video class="Image--lazyLoad lazyautosizes" height="240" controls  autoplay loop  muted playsinline type="video/webm" src="https://cdn.shopify.com/s/files/1/0553/4587/2977/files/1.16.22_BB_BISMiniGatsbyVID_v5_compressed.mp4?v=1646647790"></video> <!-- 4.3 mb -->
    <video class="Image--lazyLoad lazyautosizes" height="240" controls  autoplay loop  muted playsinline type="video/webm" src="https://cdn.shopify.com/s/files/1/0553/4587/2977/files/ad_gallery_lifestyle2_long_800k.mp4?v=1649958568"></video> <!-- 3.9 mb -->
    <video class="Image--lazyLoad lazyautosizes" height="240" controls  autoplay loop  muted playsinline type="video/webm" src="https://cdn.shopify.com/s/files/1/0553/4587/2977/files/gallery_ilysm_s_long_800k.mp4?v=1649959369"></video> <!-- 3.4 mb -->
    <video class="Image--lazyLoad lazyautosizes" height="240" controls  autoplay loop  muted playsinline type="video/webm" src="https://cdn.shopify.com/s/files/1/0553/4587/2977/files/ad_gallery__customer_quote_3_long_800k.mp4?v=1649958182"></video> <!-- 3 mb -->
   <video class="Image--lazyLoad lazyautosizes" height="240" controls  autoplay loop  muted playsinline type="video/webm" src="https://cdn.shopify.com/s/files/1/0636/7484/3380/files/Testimonial-Henry-MineralTiles-v2_600k.webm?v=1652371589"></video> <!-- 14.55 mb -->
   <video class="Image--lazyLoad lazyautosizes" height="240" controls  autoplay loop  muted playsinline type="video/webm" src="https://cdn.shopify.com/s/files/1/0636/7484/3380/files/Testimonial-Aaron-spotty-v1_600k.webm?v=1652371589"></video> <!-- 13,49 mb -->
   <video class="Image--lazyLoad lazyautosizes" height="240" controls  autoplay loop  muted playsinline type="video/webm" src="https://cdn.shopify.com/s/files/1/0636/7484/3380/files/Testimonial-Clara_Agency_-_Rebekah-v2_600k.webm?v=1652371589"></video> <!-- 15.21 mb -->
  <video class="Image--lazyLoad lazyautosizes" height="240" controls  autoplay loop  muted playsinline type="video/webm" src="https://cdn.shopify.com/s/files/1/0636/7484/3380/files/Testimonial-Luke-popularbrandclothing-v6_600k.webm?v=1652371589"></video> <!-- 15.21 mb -->

 </section>

 
 {% schema %}
 {
    "name":"Test Part",
    "class":"shopify-section--bordered",
    "settings":[],
 
    "presets":[
       {
          "category":"Text",
          "name":"Test Part",
          "settings":{}
       }
    ]
 }
 {% endschema %}
 
 