@font-face {
  font-family: "ITC-Avant-Garde";
  src: url("GothicA1-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Avenir";
  src: url("Montserrat-Regular.woff2") format("woff2");
}